<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Visualizaciones{% endblock %}</title>
    
    <!-- Incluir Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">Panel Principal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ficha') }}">Ficha Técnica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('estimaciones') }}">Estimaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('pulverizacion') }}">Pulverizaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ingreso') }}">Ingreso Personal</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Contenedor principal -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Pie de página -->
    <footer class="bg-dark text-white text-center py-4">
        <p>© 2024 Visualizaciones Apacilagua - Todos los derechos reservados AG.</p>
    </footer>

    <!-- Incluir jQuery y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Incluir DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    
    <!-- Script para inicializar DataTables -->
    <script>
        $(document).ready(function() {
            $('#miTabla').DataTable();  // Asegúrate de que este ID coincida con el de tu tabla
        });
    </script>
</body>
</html>
